// BODY
$body-bg: #ffffff;

// TYPOGRAPHY
$font-family-base: 'Mulish', sans-serif;
$font-family-main: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/* COLORS */
$primary: #5f3672;
$secondary: #365a72;
$green: #21bf48;
$red: #ed4758;
$blue: #0072ed;
$white: #ffffff;
$gray: #9495ab;
$gray-light: #f1f3f4;

/* BLUES */
$blue-600: #1264bd;
$blue-800: #1a4d8d;
