.alert {
  border-radius: 10px;

  &.alert-primary {
    color: $primary;
    background-color: #f1edf2;
    border-color: #f1edf2;
    font-size: 0.875rem;
    margin-top: 30px;
  }

  &.alert-secondary {
    color: $secondary;
    background-color: #ebeef1;
    border-color: #ebeef1;
    font-size: 0.875rem;
    margin-top: 30px;
  }

  &.alert-success {
    color: $green;
    background-color: #e4f7e9;
    border-color: #e4f7e9;
    font-size: 0.875rem;
    margin-top: 30px;
  }

  &.alert-danger {
    color: $red;
    background-color: #fde9eb;
    border-color: #fde9eb;
    font-size: 0.875rem;
    margin-top: 30px;

    a {
      color: $red;
    }
  }
}
