.btn {
  font-size: 0.95rem !important;
  border-radius: 8px !important;
  color: $white;

  &.btn-primary {
    background: $primary;
    border: none;

    &:hover {
      background: darken($primary, 2%);
    }
  }

  &.btn-secondary {
    background: $secondary;
    border: none;

    &:hover {
      background: darken($secondary, 2%);
    }
  }

  &.btn-danger {
    background: $red;
    border: none;

    &:hover {
      background: darken($red, 2%);
    }
  }

  &.btn-block {
    padding: 11px 20px;
  }

  &.disabled {
    background: #eae5ed;
    border: none;
    color: $primary;
    font-weight: 600;
  }
}