.btn {
  font-size: 1.07rem;
  color: $white;
  border-radius: 4px;

  &.btn-primary {
    background: $primary;
    border: none;

    &:hover {
      background: darken($primary, 2%);
    }
  }

  &.btn-secondary {
    background: $secondary;
    border: none;

    &:hover {
      background: darken($secondary, 2%);
    }
  }

  &.btn-block {
    padding: 11px 20px;
  }

  &.disabled {
    background: #eae5ed;
    border: none;
    color: $primary;
    font-weight: 600;
  }
}